.categories {
    &__list {
        &--no-images {
            .categories__link {
                padding: 14px 32px 15px;
                line-height: 1;
                font-size: 18px;

                @media (max-width: 960px) {
                    font-size: 16px;
                    padding: 10px 20px 12px;
                }

                @media (max-width: 768px) {
                    font-size: 14px;
                    padding: 8px 16px 10px;
                }

                &:after {
                    display: none;
                }
            }
        }
    }

    &__item {
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 14px;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 768px) {
            margin-right: 10px;
        }

        &.active {
            .categories__link {
                background-color: $active;
                color: $white;

                &:after {
                    background-color: $white;
                }
            }
        }
    }

    &__link {
        position: relative;
        cursor: pointer;
        display: inline-block;
        font-family: "Oswald", Arial, Helvetica, sans-serif;
        font-size: 28px;
        padding: 12px 26px;
        color: $black;
        font-style: normal;
        font-weight: 300;
        line-height: 1;
        border-radius: 30px;
        border: 1px solid $active;
        transition: $transition;

        img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            margin-left: 8px;
            margin-bottom: 6px;
        }

        @media (max-width: 768px) {
            font-size: 20px;
        }

        &:hover {
            background-color: $active;
            color: $white;

            img {
                filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(297deg) brightness(105%) contrast(103%);
            }
        }
    }
}
