.logo {
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    transition: $transition;
    background-image: url('../images/logo.svg');
}