.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.1s;
    
    &.hide {
        opacity: 0;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        z-index: -1;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background-color: #2A2A2E;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__element {
        width: 120px;
        height: 120px;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto; background: rgba(255, 255, 255, 0); display: block;' width='200px' height='200px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3e%3cpath fill='none' stroke='%23be1d18' stroke-width='5' stroke-dasharray='202.70525329589844 53.883674926757806' d='M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z' stroke-linecap='round' style='transform:scale(0.8200000000000001);transform-origin:50px 50px'%3e%3canimate attributeName='stroke-dashoffset' repeatCount='indefinite' dur='1.7543859649122806s' keyTimes='0;1' values='0;256.58892822265625'%3e%3c/animate%3e%3c/path%3e%3c/svg%3e");
    }
}