.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.1s;
    display: none;

    &.hide {
        opacity: 0;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        z-index: -1;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background-color: $activeVisited;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__element {
        width: 120px;
        height: 120px;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto; background: rgba(241, 242, 243, 0); display: block;' width='200px' height='200px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3e%3ccircle cx='80' cy='50' r='5' fill='%23220b09'%3e%3canimate attributeName='cx' values='80;50' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3canimate attributeName='cy' values='50;80' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3canimate attributeName='fill' values='%23220b09;%23d34c31' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='50' cy='80' r='5' fill='%23d34c31'%3e%3canimate attributeName='cx' values='50;20' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3canimate attributeName='cy' values='80;50.00000000000001' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3canimate attributeName='fill' values='%23d34c31;%23e88432' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='20' cy='50.00000000000001' r='5' fill='%23e88432'%3e%3canimate attributeName='cx' values='20;49.99999999999999' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3canimate attributeName='cy' values='50.00000000000001;20' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3canimate attributeName='fill' values='%23e88432;%23ff312d' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='49.99999999999999' cy='20' r='5' fill='%23ff312d'%3e%3canimate attributeName='cx' values='49.99999999999999;80' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3canimate attributeName='cy' values='20;49.99999999999999' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3canimate attributeName='fill' values='%23ff312d;%23220b09' keyTimes='0;1' dur='1s' repeatCount='indefinite'%3e%3c/animate%3e%3c/circle%3e%3c/svg%3e");
    }
}