.s-title {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    color: $active;

    span {
        display: block;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;

        @media (max-width: 960px) {
            font-size: 28px;
            font-weight: 400;
        }
    }

    &__logo {
        padding: 0;
        line-height: 1;
        position: relative;
        width: 280px;
        height: 60px;
        display: inline-block;

        @media (max-width: 960px) {
            width: 150px;
            height: 30px;
        }

        &:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='276' height='54' viewBox='0 0 276 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.3116 0.172363H38.7582V43.2437H28.8922V28.1862C28.8922 26.0852 28.8922 22.9336 29.2446 18.3814C29.2446 13.8291 29.5969 11.0277 29.5969 9.62704L23.2545 43.2437H16.2073L9.8649 9.62704C10.2173 15.9302 10.5696 21.8831 10.5696 28.1862V43.2437H0.703613V0.172363H15.1503L18.6738 17.681C19.0262 19.0817 19.3785 21.5329 19.7309 25.0347C20.0833 28.5364 20.4356 30.6374 20.4356 31.3378C20.4356 30.6374 20.788 28.5364 21.1403 24.6845C21.4927 21.1828 21.8451 18.7316 21.8451 17.681L25.3686 0.172363H24.3116Z' fill='%23AC1B46'/%3e%3cpath d='M45.4531 10.6772H53.9097V25.0344L52.8526 31.3375V31.6876L60.6045 10.6772H69.7658V42.8932H61.3092V28.8863L62.3663 22.233V21.8828L54.2621 42.8932H45.4531V10.6772Z' fill='%23AC1B46'/%3e%3cpath d='M75.7544 42.8932V10.6772H96.1911V18.0309H84.9157V42.8932H75.7544Z' fill='%23AC1B46'/%3e%3cpath d='M109.582 21.1826V32.7383C109.582 35.1895 110.639 36.5902 112.401 36.5902C114.163 36.5902 115.22 35.1895 115.22 32.7383V21.1826C115.22 18.7314 114.163 17.3307 112.401 17.3307C110.639 17.3307 109.582 18.7314 109.582 21.1826ZM109.582 40.092V53.7487H100.421V10.6774H108.525V14.5293C109.582 13.1286 110.639 11.7279 112.049 11.0276C113.458 10.3272 114.868 9.97705 116.277 9.97705C118.743 9.97705 120.505 11.0276 121.915 12.7784C123.324 14.5293 124.029 16.9805 124.029 20.1321V34.8394C124.029 36.5902 123.676 38.3411 122.972 39.7418C122.267 41.1425 121.21 42.193 120.153 42.8933C119.096 43.5937 117.686 43.9439 116.277 43.9439C113.81 43.9439 111.696 42.5432 109.582 40.092Z' fill='%23AC1B46'/%3e%3cpath d='M137.418 27.8359V32.7383C137.418 34.139 137.771 35.1895 138.123 35.8899C138.475 36.5902 139.18 36.9404 140.237 36.9404C142.351 36.9404 143.056 35.5397 143.056 32.7383V30.9875H151.865V33.4387C151.865 36.9404 150.808 39.7418 148.341 41.4927C146.227 43.2435 143.408 43.9439 140.237 43.9439C137.066 43.9439 134.247 43.2435 132.133 41.4927C129.666 39.7418 128.609 37.2906 128.609 33.4387V20.4823C128.609 18.031 129.314 16.2802 130.371 14.5293C131.428 13.1286 132.838 11.7279 134.599 11.0276C136.361 10.3272 138.123 9.97705 140.237 9.97705C143.408 9.97705 146.227 10.6774 148.341 12.4283C150.808 14.1791 151.865 16.6303 151.865 20.4823V28.1861H137.418V27.8359ZM137.418 21.8829H143.408V20.8324C143.408 19.0816 143.056 18.031 142.704 17.3307C142.351 16.6303 141.647 16.2802 140.237 16.2802C139.18 16.2802 138.475 16.6303 138.123 17.3307C137.771 18.031 137.418 19.0816 137.418 20.8324V21.8829Z' fill='%23AC1B46'/%3e%3cpath d='M166.665 22.9333H171.598V10.6772H180.759V42.8932H171.598V29.9368H166.665V42.8932H157.503V10.6772H166.665V22.9333Z' fill='%23AC1B46'/%3e%3cpath d='M187.101 10.6772H195.558V25.0344L194.501 31.3375V31.6876L202.252 10.6772H211.414V42.8932H202.957V28.8863L204.014 22.233V21.8828L195.91 42.8932H187.101V10.6772Z' fill='%23AC1B46'/%3e%3cpath d='M215.641 10.6772H224.802L226.916 25.3845L227.621 36.5901L228.678 25.3845L230.792 10.6772H239.601L232.554 44.9942C232.202 47.0953 231.497 48.496 230.44 49.8967C229.383 50.9472 228.326 51.9977 226.916 52.3479C225.507 53.0482 224.097 53.0482 221.983 53.0482C220.221 53.0482 218.812 53.0482 218.107 52.698V46.0447C218.46 46.0447 219.164 46.0447 219.869 46.0447C221.279 46.0447 221.983 45.3444 221.983 44.2939C221.983 43.9437 221.983 42.543 221.631 41.1423C221.279 39.3915 220.926 36.9402 220.221 34.1389C219.517 30.9873 218.812 27.4856 217.755 23.2835C216.698 19.0814 215.993 15.2295 214.936 10.6773L215.641 10.6772Z' fill='%23AC1B46'/%3e%3cpath d='M244.182 10.6778V42.8938H252.639V28.5366C252.639 28.1865 252.639 26.7858 252.287 24.3346C251.934 21.8834 251.934 19.7823 251.582 17.6813L257.572 42.5436H261.8L268.143 17.6813C267.438 23.6342 266.733 27.136 266.733 28.1865V42.5436H275.19V10.3276H263.914L260.743 23.284C260.563 24.483 260.039 27.4861 259.686 33.0889C259.686 31.338 259.334 29.5872 258.981 27.4861C258.629 25.3851 258.415 24.3346 258.277 23.6342L255.106 10.6778H243.83H244.182Z' fill='%23AC1B46'/%3e%3c/svg%3e ");
        }
    }

    @media (max-width: 960px) {
        font-size: 36px;
    }

    // @media(max-width: 768px) {
    //     font-size: 28px;
    // }
}
