.about-product {
    position: relative;
    max-width: 2400px;
    padding: 90px 0;

    @media (max-width: 960px) {
        padding: 40px 0;
    }

    &:before {
        @include bgImage();
        height: calc(100% - 0px);
        background: linear-gradient(180deg, #EEE 13.66%, rgba(217, 217, 223, 0.13) 87.41%);
    }

    &:after {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        content: "";
        width: 60%;
        height: 90%;
        background-image: url('../images/spidometr.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(-50%, -50%);
    }

    @media(max-width: 960px) {

        &:after {
            top: 350px;
            width: 90%;
            height: 200px;
        }
    }

    &__wrapper,
    &__sub-wrapper {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 960px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__sub-wrapper {
        margin-bottom: 40px;
    }

    &__s-title {
        max-width: 720px;
        margin-right: 40px;

        @media(max-width: 960px) {
            margin-right: 0;
        }
    }

    &__item {
        max-width: 572px;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        background-color: $white;
        padding: 32px;
        border-radius: 30px;
        margin-bottom: 38px;
        color: $active;

        &:last-child {
            margin-bottom: 0;
        }

        @media(max-width: 960px) {
            width: 100%;
            max-width: none;
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 12px;
        }

        @media(max-width: 768px) {
            font-size: 20px;
            font-weight: 500;
        }
    }

    &__inner {
        width: 50%;

        @media(max-width: 960px) {
            width: 100%;
        }
    }

    &__picture {
        position: relative;
        height: 720px;
        width: 100%;

        @media(max-width: 960px) {
            height: 440px;
        }

        @media(max-width: 768px) {
            height: 320px;
        }


        img {
            position: absolute;
            top: 0;
            right: 0;
            left: auto;
            min-width: 180%;
            height: 100%;
            object-fit: contain;
        }

        @media(max-width: 1280px) {
            img {
                min-width: 150%;
            }
        }
    }

    &__btn {
        @media(max-width: 960px) {
            padding-top: 20px;
        }
    }

    &__button {
        white-space: nowrap;
    }
}