.info {

    &__slider {
        overflow: hidden;
    }

    &__sub-wrapper {
        @include sTitle();
    }

    &__sl-arrows {
        .sl-arrows__arrow {
            box-shadow: 0px 0px 30px 0px rgba(207, 207, 211, 0.60);
        }
    }

    &__slide {
        position: relative;
    }


    &__picture {
        position: relative;
        z-index: 1;
        height: 450px;
        border-radius: 30px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media(max-width: 960px) {
            height: 350px;
            border-radius: 20px;
        }
    }

    &__description {
        position: absolute;
        bottom: -1px;
        right: -1px;
        z-index: 2;
        background-color: $white;
        border-radius: 30px;
        transition: $transition;
        color: $active;
        padding: 38px 40px;
        width: 350px;
        min-height: 170px;
        display: flex;
        align-items: center;
        user-select: none;

        &-def {
            display: inline-block;
            margin: 0 auto;
            font-size: 36px;
            font-weight: 600;
            line-height: 120%;
            text-align: center;
            opacity: 1;
            visibility: visible;
            height: auto;

            @media(max-width: 960px) {
                width: 100%;
                font-size: 24px;
            }
        }

        &-active {
            text-align: center;
            opacity: 0;
            visibility: hidden;
            height: 0;
            width: 0;
            transition-property: opacity;
            transition-delay: 0.1s;

            @media(max-width: 960px) {
                width: 100%;
                padding: 0 12px;
                font-size: 16px;
            }
        }

        &:hover {
            .info__description-def {
                opacity: 0;
                visibility: hidden;
                height: 0;
                width: 0;
            }

            .info__description-active {
                display: block;

                opacity: 1;
                visibility: visible;
                height: auto;
                width: 100%;
            }
        }

        @media(max-width: 960px) {
            border-radius: 20px;
            max-width: none;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 28px 12px;
            min-height: auto;
            right: 0;
        }
    }

}