.main {
    position: relative;
    height: 100vh;
    max-width: 2400px;

    @media(max-height: 620px) {
        height: 620px;
    }

    &__container {
        height: 100%;
    }

    &:before {
        @include bgImage();
        background-image: url('../images/bg-main.png');
    }

    &:after {
        position: absolute;
        content: "";
        z-index: 1;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 220px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position:bottom center;
        background-image: url('../images/el-main.png');
    }

    @media (max-width: 960px) {
        &:after {
            width: 80%;
            bottom: 10px;
        }
    }

    &__wrapper {
        height: 100%;
        position: relative;
        padding: 0 120px;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media(max-width: 1280px) {
            padding: 0 40px;
        }

        @media(max-width: 768px) {
            width: 100%;
            padding: 0 20px;

            &:after {
                width: 260px;
                height: 130px;
            }
        }
    }

    &__inner {
        @media(max-width: 768px) {
            width: 100%;
        }
    }

    &__title {
        font-family: "Oswald", Arial, Helvetica, sans-serif;
        font-size: 90px;
        font-weight: 600;
        line-height: 120%;
        color: $active;

        span {
            display: block;
            text-align: right;

            @media(max-width: 768px)  {
                text-align: left;
            }
        }

        @media(max-width: 1280px) {
            font-size: 54px;
        }

        @media(max-width: 960px) {
            font-size: 32px;
        }
    }

}