$active: #AC1B45;
$activeHover: #ce1d4f;
$activeVisited: #8a1737;
$white: #fff;
$black: #3D3D3D;
$gray: #838383;
$bgGray: #f4f4f4;

$brRadiusForWrapper: 30px;
$transition: 0.25s;
$boxShadow: 0 0 30px 0 rgba(207,207,211,.6);