$active: #AC1B45;
$activeHover: #ce1d4f;
$activeVisited: #8a1737;
$white: #fff;
$black: #3D3D3D;
$gray: #838383;
$bgGray: #f4f4f4;

$brRadiusForWrapper: 30px;
$transition: 0.25s;
$boxShadow: 0px 6px 12px rgba(0, 0, 0, 0.08), 0px 4px 6px 1px rgba(0, 0, 0, 0.12);