@mixin bgImage() {
    position: absolute;
    content: "";
    z-index: 1;
    top: 50%;
    left: 50%;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: $brRadiusForWrapper;

    @media (max-width: 1740px) {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
    }

    @media (max-width: 960px) {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border-radius: 20px;
    }
}