@mixin section() {
    padding: 120px 80px;
    max-width: 2400px;
    margin: 0 auto;

    @media (max-width: 1280px) {
        padding:20px 40px;
    }

    @media (max-width: 768px) {
        padding: 20px;
    }
}